@font-face {
  font-family: 'Silka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/silka-regular-webfont.woff2) format('woff2');
}

@font-face {
  font-family: 'Silka';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/silka-medium-webfont.woff2) format('woff2');
}

@font-face {
  font-family: 'Silka';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/silka-semibold-webfont.woff2) format('woff2');
}
